

.skills_section{
    border: solid green 5px;
    display: flex;
    flex-wrap: wrap;
}

.iconskill{
    border: solid pink 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;

    img{
        width: 50px;
        height: 50px;
    }
}


