.tituloskill{
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
    width: 100%;
}

.skills_section{
    display: flex;
    flex-wrap: wrap;
}

.iconskill{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.623);

    .listaskill{
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 45vh;

        li{
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 2px 1px 1px rgba(114, 114, 114, 0.849);
            background-color: azure;
            width: 10%;
            background: linear-gradient(135deg, #b64bfd, #3c0ea7);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
            color: white;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            }

        }
    }

    img{
        width: 100%;
        height: 15vh;

    }
}


